src/services/registrationservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:MarathonRegistrationService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:MarathonRegistrationService" xmlns:intf="urn:MarathonRegistrationService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:MarathonRegistrationService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Registration">
    <sequence>
     <element name="charityId" nillable="true" type="soapenc:string"/>
     <element name="distance" type="xsd:int"/>
     <element name="personalId" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfRegistration">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:Registration[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="Registrations">
    <sequence>
     <element name="registrations" nillable="true" type="impl:ArrayOfRegistration"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getRegistrationsResponse">

      <wsdl:part name="getRegistrationsReturn" type="impl:Registrations"/>

   </wsdl:message>

   <wsdl:message name="getRegistrationsRequest">

      <wsdl:part name="runId" type="soapenc:string"/>

      <wsdl:part name="year" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="MarathonRegistrationService">

      <wsdl:operation name="getRegistrations" parameterOrder="runId year">

         <wsdl:input message="impl:getRegistrationsRequest" name="getRegistrationsRequest"/>

         <wsdl:output message="impl:getRegistrationsResponse" name="getRegistrationsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RegistrationServiceSoapBinding" type="impl:MarathonRegistrationService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getRegistrations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRegistrationsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:MarathonRegistrationService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getRegistrationsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:MarathonRegistrationService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MarathonRegistrationServiceService">

      <wsdl:port binding="impl:RegistrationServiceSoapBinding" name="RegistrationService">

         <wsdlsoap:address location="http://www.marathon.is/services/RegistrationService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
